<%= link_to "<button class='btn primary mb-10px'>Back</button>".html_safe, root_path %>
<h1 class="ta-c fs-30px mb-2rem">Submit Video</h1>
<div class="jc-c">
  <%= render 'form', post: @post %>
<div>
