.trans-neg-90 {
	transform: rotate(-90);
}
.trans-neg-180 {
	transform: rotate(-180deg);
}
.trans-neg-270 {
	transform: rotate(-270deg);
}
.trans-90 {
	transform: rotate(90deg);
}
.trans-180 {
	transform: rotate(180deg);
}
.trans-270 {
	transform: rotate(270deg);
}